.mountains,
.sky {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sky {
    z-index: -2;
}

.moon {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 10%;
    left: 10%;
    z-index: -1;
}