.button {
    margin: 0;
    font-size: var(--font-size-3);

    padding-inline: var(--size-8);
    padding-block: var(--size-3);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);

    background: var(--text-1);
    text-shadow: 0 1px 0 var(--indigo-9);
    color: rgb(223, 215, 215);
}

.buttonsWrapper {
    display: flex;
    justify-content: space-around;
}